.Segment {
  display:grid;
}

.Length {
  grid-column-start: 1;
  grid-row-start: 1;
}

.Units {
  padding: 0 0 0 0;
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.Units > li {
  position: relative;
}

.Split {
  position: absolute;
  z-index: 2;
  left: 24px;
}

.Join {
  grid-column-start: 2;
  grid-row-start: 2;
}

.legal {
  opacity: .4;
}

.legal:hover {
  opacity: 1;
}

.legal path{
  stroke:rgb(0, 195, 49) !important;
}

.illegal {
  opacity: 0;
}

.illegal:hover {
  opacity: .25;
}

